<div class="container">
    <div class="profile-card">
        <div class="breadCrumbs_div">
            <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item">
                    <a class="link-body-emphasis" routerLink="/admin">
                        <i class="bi bi-house-door-fill"></i>
                        <span class="visually-hidden">Home</span>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a class="link-body-emphasis fw-semibold text-decoration-none" routerLink="/admin/AdminDetails">Admin Profile</a>
                </li>
            </ol>
            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal"> Edit Profile </button>

        </div>

        <div class="profile-info">
            <div class="row align-items-center">

                <div class="col-lg-6">
                    <div class="profileImg">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT57K--5w2S4RLJ1Q1v3vETVxkHG-688WlitA&s" alt="Profile Image"
                            class="profile-img">
                        <h3>John Doe</h3>
                        <p> Sr. UI/UX Developer </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="profileDetails">
                        <div class="row">
                            <div class="col-lg-6">
                                <div>
                                    <h3> Employee Id </h3>
                                    <p> VID0091 </p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div>
                                    <h3> Full Name </h3>
                                    <p> John Doe </p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div>
                                    <h3> Designation </h3>
                                    <p> Sr. UI/UX Developer </p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div>
                                    <h3> Bio Matric Code </h3>
                                    <p> IN58 </p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div>
                                    <h3> Email Adress </h3>
                                    <p> abc123@gmail.com </p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div>
                                    <h3> Contact Number </h3>
                                    <p> +91 9876543210 </p>
                                </div>
                            </div>
                            <div class="col-lg-12">

                                <div>
                                    <h3> Address </h3>
                                    <p> 84/248, Shanti Path, Sector 8, Mansarovar, Jaipur, Rajasthan, India, 302020 </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>             
            </div>
        </div>
    </div>