<div class="container p-0">
  <div class="section-1">
    <ul type="none">
      <!-- <li [ngClass]="homeSet=='Home'? 'active':' '" (click)="toggleActive('Home')"> Home </li>
    <li [ngClass]="homeSet=='Search'? 'active':' '" (click)="toggleActive('Search')"> Search </li>
    <li [ngClass]="homeSet=='Contact'? 'active':' '" (click)="toggleActive('Contact')">Contact</li>
    <li [ngClass]="homeSet=='Profile'? 'active':' '" (click)="toggleActive('Profile')">Profile</li>   -->
      <li [ngClass]="homeSet == 'Home'? 'active': ' '" (click)="toggleActive('Home')">Home</li>
      <li [ngClass]="homeSet == 'About us'? 'active': ''" (click)="toggleActive('About us')">About us</li>
      <li [ngClass]="homeSet == 'Contact us'? 'active': ''" (click)="toggleActive('Contact us')">Contact us</li>
      <li [ngClass]="homeSet == 'Profile'? 'active':''" (click)="toggleActive('Profile')">Profile</li>
    </ul>

  </div>

  <!--mat table -->
  <div class="Table table-bordered">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Password</th>
          <th scope="col"> PinCode  </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of localData">
          <td>{{data.name}} </td>
          <td> {{data.email}} </td>
          <td> {{data.Phone}} </td>
          <td> {{data.password}} </td>
          <td> {{data.pin}} </td>
        </tr>
      </tbody>
    </table>
  </div>





</div>