<div class="container-fluid p-0">
<div class="section-1">
  <ul type="none">
    <!-- <li [ngClass]="homeSet=='Home'? 'active':' '" (click)="toggleActive('Home')"> Home </li>
    <li [ngClass]="homeSet=='Search'? 'active':' '" (click)="toggleActive('Search')"> Search </li>
    <li [ngClass]="homeSet=='Contact'? 'active':' '" (click)="toggleActive('Contact')">Contact</li>
    <li [ngClass]="homeSet=='Profile'? 'active':' '" (click)="toggleActive('Profile')">Profile</li>   -->
    <li [ngClass]="homeSet == 'Home'? 'active': ' '" (click)="toggleActive('Home')">Home</li>
    <li [ngClass]="homeSet == 'About us'? 'active': ''" (click)="toggleActive('About us')">About us</li>
    <li [ngClass]="homeSet == 'Contact us'? 'active': ''" (click)="toggleActive('Contact us')">Contact us</li>
    <li [ngClass]="homeSet == 'Profile'? 'active':''" (click)="toggleActive('Profile')">Profile</li>
  </ul>
</div>

</div>
