.section-1{
    display: flex;
    justify-content: center;
    
   ul {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    cursor: pointer;
    .active {
        border-bottom: 2px solid #F9531D;
      }
      
    li{
    color: #000;
   }
}


    h2{
        color: #000;
        text-align: center;
        padding-top: 20px;
    }
}
