.main{
    display: flex;
 .sidebar{
        flex: 0 0 15%;
    }
.router-div{
    height: calc(100vh - 60px);
    //  overflow-y: scroll;
      flex: 0 0 85%;
    //   display: flex;
      // justify-content: center;
      // padding-top: 20px;
      background-image: url(../../../assets/background.jpg);
      background-size: cover;
      overflow: scroll;
}
}