.main{
    display: flex;
    height: calc( 100vh - 40px );
 .sidebar{
        flex: 0 0 17%;
        background-color: #323232;
    }
.router-div{
      flex: 0 0 83%;
      padding: 20px;
      overflow-y: scroll;
}
}