<!-- <p>header works!</p> -->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active  text-light fw-bold" aria-current="page" href="javascript:void(0)"><i class="bi bi-person-vcard"></i> Employee Management System</a>
        </li>
      </ul>
    </div>
    <div>
      <!--<div *ngIf="imageUrl">
        <img [src]="imageUrl" alt="Uploaded Image" />
      </div>-->
    </div>
    <div *ngFor="let data of emailData">
      <p class="text-center text-light p-0 m-0 me-3 text-titlecase fw-bold"><i class="bi bi-person-circle pe-1"></i> {{data}}</p>
    </div>

  </div>
</nav>