.outer{
    border: 1px solid rgb(185, 185, 185);
    padding: 20px;
    // box-shadow: 0 0 20px 2px rgb(170, 170, 170);
    margin-top: 20px ;
    background-color: #f0f0f0;
    border-radius: 8px;
    small{
        color: red;
    }
}