.outer{
   
    h4{
        padding-left: 10px;
    }
    div{
        cursor: pointer;
        .p{
        .active {
            color: #ffee00 !important;
            font-weight: 600;
          }
        }
    }

    .sidebar_menus ul{
        list-style: none;
        padding: 15px 0;

        li{
            color:#fff;
            padding: 5px 15px;     
            margin:2px 0;    

            i{
                padding-right: 5px;
            }
           
        }

           li:hover{
                background-color: #5c60f5;
            }

             li.active{
                background-color: #5c60f5;
                color:#fff;
            }
    }
}